[Unit]
Description=vault-agent
Wants=network-online.target
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=docker run --rm --name=vault-agent -v /opt:/opt --cap-add IPC_LOCK --entrypoint=vault docker.io/library/vault:1.4.1 agent --config=/opt/conf/vault-agent.hcl
ExecStop=docker stop vault-agent
Restart=always
StartLimitInterval=5
RestartSec=10

[Install]
WantedBy=multi-user.target

