[Unit]
Description=wg-server-agent
Wants=network-online.target
Requires=network-online.target
After=network-online.target vault-agent.service

[Service]
Environment=VAULT_ADDR=unix:///opt/conf/vault.sock
ExecStart=docker run --rm --name=wg-server-agent -v /opt:/opt --network=host docker.io/gitirabassi/wg-server-agent:latest --creds-path=wireguard/server-creds/wireguard-server
ExecStop=docker stop wg-server-agent
Restart=always
StartLimitInterval=5
RestartSec=10

[Install]
WantedBy=multi-user.target

