[Unit]
Description=caddyserver
Wants=network-online.target
Requires=network-online.target
After=network-online.target vault-agent.service

[Service]
ExecStart=docker run --rm --name=caddyserver -v /opt/caddy-data:/opt/caddy-data -v /opt/caddy-conf:/opt/caddy-conf --env CADDYPATH=/opt/caddy-data/.caddy --network=host abiosoft/caddy:1.0.3 \
        --conf=/opt/caddy-conf/Caddyfile \
        --log=stdout \
        -agree \
        -email=me+acme@giuani.it

ExecStop=docker stop caddyserver
Restart=always
StartLimitInterval=5
RestartSec=10

[Install]
WantedBy=multi-user.target

